[include ebb.cfg]
# [include u2c.cfg]
[include adxl345.cfg]
[include basic_macro.cfg]
# [include display_menu.cfg]
# [include extruder.cfg]
[include filament.cfg]
[include heater.cfg]
[include kiauh_macros.cfg]
[include klicky-probe.cfg]
# [include lcd.cfg]
[include pins.cfg]
[include probe.cfg]
[include quad_gantry_level.cfg]
[include runout.cfg]
[include speedtest.cfg]
# [include stealthburner_led.cfg]
[include steppers.cfg]
[include user_vars.cfg]
#[include enclosure.cfg]
[include z_calibration.cfg]
[include klipper_update.cfg]

[virtual_sdcard]
path: ~/gcode_files
on_error_gcode:
  CANCEL_PRINT

[pause_resume]
[endstop_phase]
[display_status]

[mcu]
##--------------------------------------------------------------------
# serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_2E004E001450304738313820-if00
# restart_method: command
##--------------------------------------------------------------------
canbus_uuid: ce5f75f5c4f0
canbus_interface: can0

[temperature_sensor RaspberryPi]
sensor_type: temperature_host

[printer]
kinematics = corexy
max_velocity = 600
max_accel = 40000
max_accel_to_decel = 40000
max_z_velocity = 30
max_z_accel = 700
square_corner_velocity = 30.0


[temperature_sensor Octopus]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 150

[stepper_z]
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: 1.20

#####################################################################
# 	Fan Control
#####################################################################
[gcode_arcs]
#resolution: 1.0
[exclude_object]
[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}

[heater_fan nevermore_fan]
##	Controller fan - CNC_FAN2
pin: FAN2
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

[heater_fan exhaust_fan1]
#	Exhaust fan - CNC_FAN3
pin: FAN3
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
fan_speed: 0.50

[heater_fan exhaust_fan2]
#	Exhaust fan - CNC_FAN3
pin: FAN4
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
fan_speed: 0.50

#####################################################################
# 	LED Control
#####################################################################

#[output_pin caselight]
# Chamber Lighting - HE1 Connector (Optional)
#pin: PA3
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01


#####################################################################
#  Idle Timeout 
#####################################################################
[idle_timeout]
gcode:
  {% if printer.webhooks.state|lower == 'ready' %}
    {% if printer.pause_resume.is_paused|lower == 'false' %}
      {action_respond_info("POWER: Execute Idle Timeout")}
      TURN_OFF_HEATERS
      M141
      M84
      UPDATE_DELAYED_GCODE ID=_DELAY_FILTER_OFF DURATION=10
    {% endif %}
  {% endif %}
# 2h timeout
timeout: 7200

#[safe_z_home]

# homing_override and safe_z_homing cannot be used simultaneously
# Используется homing из klicky-macros.cfg
# Параметры endstop задаются в klicky-variables.cfg

##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
#home_xy_position:229,329
#home_xy_position:-10,-10
#speed:100
#z_hop:10

#####################################################################
# 	Macros
#####################################################################

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    #	Uncomment for 350mm build
    #	G0 X175 Y175 Z30 F3600
    BED_MESH_PROFILE LOAD="default"


[gcode_macro _SET_PARAMS]
variable_save_params: {'retract'           : 0.0,
                       'pressure_advance'  : 0.0 }
variable_params: {'retract'          : '0',
                  'pressure_advance' : '0'}

  #############  Store input parameters  #############
gcode:
  {% set save_params = {'retract'           : printer['firmware_retraction'].retract_length|default(0)|float|round(2),
                        'pressure_advance'  : printer['extruder'].pressure_advance|default(0)|float|round(3)} %}
  {% set params = {'retract'          : params.RETRACT_LEN|default(printer['firmware_retraction'].retract_length)|float|round(2),
                   'pressure_advance' : params.PRESSURE_ADVANCE|default(printer['extruder'].pressure_advance)|float|round(3)} %}

  { action_respond_info("Saved retract: %.2f pressure_advance: %.3f" % (save_params.retract, save_params.pressure_advance)) }
  SET_RETRACTION RETRACT_LENGTH={params.retract}
  SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE={params.pressure_advance}
  { action_respond_info("Set retract: %.2f pressure_advance: %.3f" % (params.retract, params.pressure_advance)) }
  SET_GCODE_VARIABLE MACRO=_SET_PARAMS VARIABLE=save_params VALUE="{save_params}"

[gcode_macro _RESTORE_PARAMS]
variable_save_params: {'retract' : 0.0,
                       'pressure_advance'  : 0.0 }
gcode:
  {% set save_params = {
                 'retract'           : printer['gcode_macro _SET_PARAMS'].save_params.retract,
                 'pressure_advance'  : printer['gcode_macro _SET_PARAMS'].save_params.pressure_advance } %}

  SET_RETRACTION RETRACT_LENGTH={save_params.retract}
  SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE={save_params.pressure_advance}
  { action_respond_info("Restored retract: %.2f pressure_advance: %.3f" % (save_params.retract, save_params.pressure_advance)) }

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
description: All cmd needed at print start
variable_save_params: {'retract' : 0.0,
                       'pressure_advance'  : 0.0 }

variable_var: {'temp'        : {'extruder': 245.0, 'bed': 100.0, 'chamber': 40.0, 'endstop': 0.0},
               'delta'       : {'chamber': 5.0, 'bed': 10},
               'time'        : {'soak' : 1800, 'soak_extra': 900},
               'redo_qgl'    : True,
               'prime_height': 0.0,
               'z_adjust'    : 0.0,
               'filter'      : True,
               'retract'     : '0',
               'pressure_advance' : '0'}

;Start Gcode
gcode:
#    {% if printer['firmware_retraction'].retract_length > 0 %}
#       {% set save_params = {'retract'           : printer['firmware_retraction'].retract_length|default(0)|float|round(2),
#                             'pressure_advance'  : printer['extruder'].pressure_advance|default(0)|float|round(3)} %}
#       { action_respond_info("Saved retract: %.2f pressure_advance: %.3f" % (save_params.retract, save_params.pressure_advance)) }
#    {% else %}
#       { action_respond_info("Retract and pressure_advance not stored as they are zero value.") }
#    {% endif %}

    #############  Store input parameters  #############
    {% set var = {'temp': {'extruder': params.EXTRUDER_TEMP|default(245)|float|round(1),
                           'bed'     : params.BED_TEMP|default(100)|float|round(1),
                           'chamber' : params.CHAMBER_TEMP|default(50)|float|round(1),
                           'endstop' : 0.0},
                  'delta': {'chamber': params.DELTA_C|default(5)|float|round(1), 
                            'bed'    : params.DELTA_B|default(10)|float|round(1)},
               'redo_qgl'    : True,
               'z_adjust'    : params.Z_ADJUST|default(0.0)|float,
               'filter'      : False if params.FILTER|default(1)|int == 0 else True,
               'retract'     : params.RETRACT_LEN|default(0.35)|float|round(2),
               'pressure_advance' : params.PRESSURE_ADVANCE|default(0.025)|float|round(3)} %}

    CLEAR_PAUSE

    # SET_RETRACTION RETRACT_LENGTH={var.retract}
    # SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE={var.pressure_advance}

    M140 S{var.temp.bed}      ; heat bed
    M104 S{var.temp.extruder} ; heat extruder

    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0

    #{% if not 'xyz' in printer.toolhead.homed_axes %}
       G32                        ; home all axes
    #{% endif %}

    G90                            ; absolute positioning
    G0 Z20 F3000                   ; move nozzle away from bed
    G91                            ; absolute positioning
    G0 X-30 Y-30 F8000
    G90                            ; absolute positioning
    G0 X10 F6000
    G0 X10 Y355 F8000
    M109 S{var.temp.extruder} ; heat extruder and wait

    G92 E0                      ; zero the extruder
    G0 E-2 F300                 ; retract filament
    G92 E0                      ; zero the extruder

    G90
    G0 X70 Y351 F6000
    G0 Z0 X81 F3000
    
    G91                            ; relative positioning
    G0 X40 Y4 F8000
    G0 X-40 Y-4 F8000
    G0 X40 F8000
    G0 X-40 Y4 F8000
    G0 X40 Y-4 F8000

    G90                         ; absolute positioning
    #G0 Z20 F3000
    calibrate_z
    
    G90
    G0 X70 Y351 F6000
    G0 Z0 X81 F3000

    M190 S{var.temp.bed}      ; heat bed and wait

    G91                            ; relative positioning
    G0 X40 Y4 F8000
    G0 X-40 Y-4 F8000
    G0 X40 F8000
    G0 X-40 Y4 F8000
    G0 X40 Y-4 F8000
    G0 Z10 F3000

    PRIME_LINE ;filament.cfg

    G21 ; set units to millimeters
    G90 ; use absolute coordinates
    M83 ; use relative distances for extrusion
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=1
    G0 Z1 F3000

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    G1 E-2.0 F3600
    M107                           ; turn off fan
    G0 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0 X30 Y335 F8000              ; park nozzle at rear
    UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=1

    CLEAR_PAUSE
    {% set save_params = printer['gcode_macro PRINT_START'].save_params %}
     # SET_RETRACTION RETRACT_LENGTH={save_params.retract}
     # SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE={save_params.pressure_advance}
    { action_respond_info("Saved retract: %.2f pressure_advance: %.3f" % (save_params.retract, save_params.pressure_advance)) }
    
##    BED_MESH_CLEAR
    
## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.142083, 0.102500, 0.089583, 0.070625, 0.086979, 0.112396, 0.162604
#*# 	  0.082500, 0.045521, 0.043854, 0.018854, 0.034583, 0.069896, 0.102708
#*# 	  0.064271, 0.023229, 0.020313, 0.011354, 0.009063, 0.044583, 0.090417
#*# 	  0.065417, 0.046042, 0.040208, 0.000000, 0.009896, 0.043750, 0.067188
#*# 	  0.068542, 0.042917, 0.048333, 0.010937, 0.038125, 0.022708, 0.079687
#*# 	  0.087396, 0.059062, 0.045104, 0.023854, 0.034792, 0.053854, 0.095417
#*# 	  0.120521, 0.103854, 0.084062, 0.071771, 0.045208, 0.061042, 0.149896
#*# tension = 0.2
#*# min_x = 35.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 4
#*# min_y = 35.0
#*# x_count = 7
#*# max_y = 314.96
#*# mesh_x_pps = 4
#*# max_x = 314.96
#*#
#*# [stepper_z]
#*# position_endstop = 1.009
#*#
#*# [bed_mesh T120C_v2]
#*# version = 1
#*# points =
#*# 	0.053125, 0.035625, 0.031875, 0.012188, 0.017500, 0.007813, 0.028750
#*# 	0.013750, 0.014688, 0.025313, 0.023125, -0.002812, 0.013750, 0.007188
#*# 	-0.000937, 0.011563, 0.017188, 0.011875, -0.015937, -0.021875, 0.026563
#*# 	0.022187, 0.024687, 0.021562, 0.000000, -0.020312, -0.016875, 0.030000
#*# 	0.022500, 0.003125, 0.001875, 0.001562, -0.014063, 0.004375, 0.031562
#*# 	0.005312, 0.006250, 0.003750, 0.087500, -0.013750, -0.003750, 0.012812
#*# 	0.056250, 0.055000, 0.043437, 0.027500, -0.021875, -0.007813, 0.068437
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 4
#*# min_y = 30.0
#*# x_count = 7
#*# max_y = 319.98
#*# mesh_x_pps = 4
#*# max_x = 319.98
#*#
#*# [bed_mesh no_heat]
#*# version = 1
#*# points =
#*# 	0.034375, 0.038750, 0.022500, -0.005625, -0.007500, -0.023125, -0.014375
#*# 	0.013125, 0.011563, 0.012813, 0.011563, -0.012500, 0.001875, -0.010000
#*# 	0.009688, 0.007813, 0.015313, 0.002813, -0.005312, -0.023125, -0.001875
#*# 	0.020000, 0.014062, 0.022500, 0.000000, -0.023437, -0.009687, 0.003438
#*# 	0.024375, 0.011250, 0.006562, 0.011250, -0.018750, -0.014063, -0.009375
#*# 	0.008437, 0.006250, -0.002813, 0.066250, -0.016563, -0.022500, 0.018125
#*# 	0.050937, 0.058750, 0.043437, -0.003125, -0.044063, -0.025625, 0.038125
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 4
#*# min_y = 30.0
#*# x_count = 7
#*# max_y = 319.98
#*# mesh_x_pps = 4
#*# max_x = 319.98
#*#
#*# [bed_mesh ABS_PEI]
#*# version = 1
#*# points =
#*# 	0.041250, 0.043333, 0.023958, 0.024792, 0.037188, 0.038750, 0.025938
#*# 	0.008646, 0.039896, 0.009375, 0.006042, 0.012188, 0.010313, 0.027292
#*# 	0.010104, 0.005000, 0.005000, -0.008021, -0.014271, -0.004062, 0.004792
#*# 	0.039583, 0.017396, 0.031875, 0.000000, -0.005625, 0.010313, 0.021354
#*# 	0.028854, 0.027500, 0.010833, 0.014479, 0.004583, 0.002292, 0.030312
#*# 	0.017396, 0.044167, 0.023021, 0.009167, -0.016667, -0.008333, 0.018021
#*# 	0.034271, 0.042708, 0.030208, 0.021771, -0.020313, -0.031146, 0.024479
#*# tension = 0.2
#*# min_x = 35.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 4
#*# min_y = 35.0
#*# x_count = 7
#*# max_y = 314.96
#*# mesh_x_pps = 4
#*# max_x = 314.96
#*#
#*# [bed_mesh ABS_PEI_2]
#*# version = 1
#*# points =
#*# 	0.085938, 0.093125, 0.080938, 0.072188, 0.050625, 0.066875, 0.067500
#*# 	0.043125, 0.059688, 0.032500, 0.008438, -0.007500, 0.004688, 0.015000
#*# 	0.032188, 0.024063, 0.018438, 0.005625, -0.037500, -0.006562, 0.019063
#*# 	0.050937, 0.017187, 0.022187, 0.000000, -0.038125, -0.000937, 0.016875
#*# 	0.014375, 0.003437, 0.001562, 0.016562, -0.021250, -0.005625, -0.027500
#*# 	0.006562, 0.043125, 0.027187, 0.014375, -0.016875, -0.007188, 0.003125
#*# 	0.052187, 0.086875, 0.045937, 0.044687, 0.002187, -0.023125, 0.047812
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 4
#*# min_y = 30.0
#*# x_count = 7
#*# max_y = 319.98
#*# mesh_x_pps = 4
#*# max_x = 319.98
#*#
#*# [bed_mesh Ultran_120_PEI]
#*# version = 1
#*# points =
#*# 	0.109375, 0.077188, 0.051563, 0.050625, 0.050625, 0.045000, 0.080313
#*# 	0.045000, 0.036875, 0.032500, 0.033438, 0.005313, 0.020625, 0.043750
#*# 	0.016563, 0.015000, 0.010938, 0.005625, 0.010625, 0.002813, 0.020000
#*# 	0.015312, 0.018125, 0.020000, 0.000000, -0.016562, -0.016875, 0.019375
#*# 	0.010937, -0.005313, 0.003437, -0.034063, -0.030625, -0.019688, 0.027812
#*# 	0.004687, 0.005000, 0.001875, 0.060000, -0.031250, -0.009063, 0.029375
#*# 	0.030000, 0.034375, 0.037812, -0.016875, -0.026563, -0.011875, 0.081250
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 4
#*# min_y = 30.0
#*# x_count = 7
#*# max_y = 319.98
#*# mesh_x_pps = 4
#*# max_x = 319.98
